* {
  padding: 0;
  margin: 0;
}

#header {
  background-color: black;
  /* margin-bottom: 30px; */
}


.box {
  position: relative;
  width: 1000px;
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
}

ul {
  list-style: none;
}

.carousel {
  position: absolute;
  left: 0;
  width: 7000px;
}

.carousel img {
  width: 1000px;
  height: 450px;
}

.carousel li {
  float: left;
}

.btns {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 100px;
  margin-top: -50px;
  display: flex;
  justify-content: space-between;
  line-height: 100px;
  font-size: 30px;
  color: white;
  text-align: center;
}

.btns div {
  flex-basis: 40px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

.cirs {
  position: absolute;
  bottom: 10px;
  left: 30%;
  right: 30%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cirs li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: orange;
}

.cirs li.active {
  background-color: red;
}
